[Unit]
Description=Wallpaper changer

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/home/linden/.scripts/wallpaper-changer.sh

[Install]
WantedBy=default.target


