[Unit]
Description=Wallpaper changer

[Service]
Type=oneshot
ExecStart="/home/linden/.scripts/wallpaper-changer.sh"

[Install]
WantedBy=basic.target


